*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0 0 30px;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

img,
.list,
li,
.description,
p {
    padding: 10px;
}

.header {
    background-color: yellow;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

img {
    height: 500px;
    width: auto;
}

h2 {
    text-align: center;
}

.list,
li {
    margin: 30px;
    font-size: 16px;;
}

.list {
    border-style: groove;
    border-radius: 5px;
    background-color: #F2F2F2;
}

.description {
    color: grey;
}